{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for book in books %}
		<div class="col-lg-4">
			<div class="box-element product">
				<h6><strong>{{book.1}}</strong></h6>
				<hr>
					<form action="/viewbf/"  method="post">{% csrf_token %}
					<label for="book_id"> </label>
					<input type='hidden' name='book_id' value= {{book.0}} >
					<input type='hidden' name='id' value= {{customer}} >
					 <input class="btn btn-outline-success" type="submit" value="Read">
				</form>
				

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
