{% extends 'store/writer/main.html' %}
{% load static %}
{% block content %}
	
 <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST" action="/add_book/">{% csrf_token %}
					<div id="shipping-info">
						<hr>
						<p><h2><strong>Book Information</strong></h2></p>
						<hr>
						<input type='hidden' name='id' value= {{writer}} >
						<div class="form-field">
							<input class="form-control" type="text" name="title" placeholder="Title">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="isbn" placeholder="ISBN">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="language" placeholder="language">
						</div>
						<div class="form-field">
							<input class="form-control" type="int" name="pages" placeholder="Number of Pages">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="price" placeholder="Price">

						</div>
							<div class="form-field">
					         <select class="btn btn-outline-secondary add-btn" name="genre">
             <option disabled="disabled" selected="selected">Genre</option>
               <option value="Fiction">Fiction</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Non-Fiction">Non-Fiction</option>
          <option value="Poetry">Poetry</option>
     </select>
						</div>
					</div>
						<div class="form-field">
							<input class="form-control" type="text" name="summary" placeholder="summary">
					
					</div>
						
							<textarea required class="form-control" rows = "5" cols = "40" name = "text" placeholder="Add your original text..."></textarea>
					</div>
					
					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
{% endblock content %}
