{% extends 'store/writer/main.html' %}
{% load static %}
{% block content %}
	
	<div align="center">
<form action="/w_search/"  method="post">{% csrf_token %}
    <label for="search_text"> </label>
    
    <h1>Hi, {{name}} </h1>
    <br>
    <input class="btn btn-outline-secondary add-btn" id="search_text" type="text" name="search_text" value="{{ Yeats... }}" placeholder="Search any books here... ">
	<input type='hidden' name='id' value= {{writer}} >
    <input class="btn btn-outline-secondary add-btn" type="submit" value="Search">
</form>
</div>

{% endblock content %}
